.main-header{
    background-color: #EDFFAB;
    padding: 1rem 2rem;
}

.main-header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.main-header nav ul li a{
    color: #EDD83D;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 25px;
}

.main-header nav ul li a:hover{
    color: #462255;
    font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .main-header {
        padding: 1rem;
    }
    .main-header nav ul {
        gap: 1rem;
    }

    .main-header nav ul li a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .main-header nav ul {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
    }
    .main-header nav ul li a {
        font-size: 16px;
    }
}