.productCard{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 350px;
    margin: 20px 20px 20px 20px;
    background-color: white;
}

.productCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.productCard h3{
    font-family: 'Poppins', serif;
    font-size: 18px;
    color: #655A7C;
}

.productCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.productCard p{
    font-family: 'Poppins', serif;
    font-size: 14px;
    color: black;
    text-align: start;
    width: 100%;
    margin-left: 0px;
}

.productCard .price{
    font-weight: bold;
    color: #F25757;
}

.productCard button{
    font-family: 'Poppins', sans-serif;
    background-color: #655A7C;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 25px;
}

.productCard button:hover{
    background-color: #EDD83D;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(248, 118, 102, 0.4);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .productCard {
        max-width: 100%;
    }
    
    .productCard h3 {
        font-size: 16px;
    }
    
    .productCard img {
        height: 150px;
    }
}